* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Public Sans', sans-serif;
*/

/* Paleta de Cores */

/* Global Style Container */
.container-inner-content {
  max-width: 1300px;
  margin: 0 auto;
}

.color-container-background {
  background-color: #2c2c2c;
}

.page-inner-content {
  max-width: 1280px;
  margin: 0 auto;
}
/* Global Style Container */

/* Header */

/* NavBar */
.navBar {
  background-color: #577356;
  color: #fff;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}

.logo-page {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
}

.navBar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navBar ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.navBar ul li {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
}

.navBar ul li a {
  color: #fff;
  text-decoration: none;
}

.navBar ul li:hover {
  text-decoration: underline;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-icon-container .icon-nav {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-icon-container .icon-nav:hover {
  color: #b8b8b8;
}

.nav-icon-container .menu-button {
  display: none;
}

/* NavBar */

header {
  background-image: radial-gradient(#fff, #c7c7c7);
}

.header-inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-inner-content-left {
  height: 100%;
  flex-basis: 50%;
}

.header-inner-content-left h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}

.header-inner-content-left p {
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.header-inner-content-left button {
  background-color: #8b8c5d;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.2rem;
  transition: all 0.2s;
}

.header-inner-content-left button:hover {
  background-color: #606040;
}

.header-inner-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.header-inner-content-right img {
  width: 70%;
  margin: 0 auto;
}

/* Header Media queires */
@media (max-width: 800px) {
  .navBar .container-inner-content > h1 {
    font-size: 1rem;
  }

  .header-inner-content {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }

  nav {
    position: absolute;
    background-color: #577356;
    width: 100%;
    top: 38px;
    display: none;
  }

  .show-menu nav {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  .navBar ul li {
    text-align: center;
    padding: 0.8rem;
  }

  .nav-icon-container .menu-button {
    display: block;
  }

  .nav-icon-container .icon-nav {
    font-size: 1.4rem;
  }
}

/* Header */

/* Main */

main {
  background-color: #ebebeb;
}

.cols-images-dafault {
  display: grid;
  padding: 4rem 1rem;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
}

.cols-images-dafault > * {
  cursor: pointer;
  transition: all 0.2s;
}

.cols-images-dafault > *:hover {
  transform: translateY(-5px);
}

.cosl-images-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 3rem;
}

.cosl-images-3 img {
  max-width: 100%;
  margin: 0 auto;
}

.cosl-images-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  padding: 3rem;
}

.cosl-images-4 img {
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  margin-top: 4rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.subtitle-underline {
  width: 100px;
  height: 5px;
  background-color: #577356;
  margin: 8px auto 0 auto;
  border-radius: 9999px;
}

.product {
  color: #2c2c2c;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.product-description {
  font-weight: 600;
  margin-top: 0.4rem;
}

.rate {
  color: #577356;
  font-size: 1.3rem;
}

.price span {
  font-weight: 600;
}

.exclusive-vest-container {
  color: #fff;
  flex-direction: row-reverse;
  padding: 5rem 1rem;
}

.exclusive-vest-container img {
  max-width: 500px;
}

.exclusive-vest-container > div > h2 {
  text-align: center;
}

/* Main Media Queires */
@media (max-width: 800px) {
  .cosl-images-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .cosl-images-3 img {
    max-width: 80%;
    margin: 0 auto;
  }

  .cosl-images-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cosl-images-4 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 110%;
  }

  .exclusive-vest-container {
    color: #fff;
    flex-direction: column-reverse;
    padding: 5rem 1rem;
  }

  .section-title {
    font-size: 1rem;
  }

  .product-description,
  .rate,
  .price {
    font-size: 0.8rem;
    max-height: 1rem;
    overflow: hidden;
  }
}

/* feedbacks */

.feedbacks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 1rem;
  gap: 3rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  text-align: justify;
  box-shadow: 0 0 15px #afafaf;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.feedback:hover {
  transform: translateY(-5px);
}

.feedback p {
  margin: 5px 0;
}

.feedback p:first-child {
  color: #577356;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 3rem;
  line-height: 2rem;
}

.feedback p:last-child {
  font-weight: bold;
}

/* Media Queires */

@media (max-width: 800px) {
  .feedbacks {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Main */

/* Footer */

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #8f8f8f;
  padding: 3rem 1rem;
  gap: 3rem;
}

.dowload-opitions > * {
  margin: 1rem 0;
}

.dowload-opitions > p:first-child {
  color: #fff;
  font-weight: bold;
}

.dowload-opitions > div {
  display: flex;
}

.dowload-opitions > div img {
  max-width: 180px;
  cursor: pointer;
}

.logo-footer * {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
}

.links-utilitis h3 {
  color: #fff;
  margin-bottom: 0.8rem;
}

.links-utilitis ul li {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  list-style: none;
  transition: all 0.2s;
}

.links-utilitis ul li:hover {
  color: #c7c7c7;
}

.copyright {
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.copyright a {
  text-decoration: none;
  color: #fff;
}

.copyright a:hover {
  color: #c7c7c7;
}

/* Media Queires */
@media (max-width: 800px) {
  .footer-content {
    display: inline;
    font-size: 0.9rem;
  }

  .footer-content > div {
    padding: 1rem;
  }

  .dowload-opitions > div img {
    max-width: 120px;
  }

  .dowload-opitions > div {
    display: inline;
  }

  .copyright {
    font-size: 0.8rem;
  }
}

/* Footer */
